@{
    ViewData["Title"] = "Sign Tool";
}

<p><a href="createcert">Create self-signed certificate</a></p>
<p><a href="createguid">Create GUID</a></p>
<p><a href="filehash">Calculate file hash</a></p>
<p><a href="signapp">Sign application (exe, dll, msi, appx)</a></p>
<p><a href="convert">Convert certificate</a></p>
<p><a href="dh">Generate Diffie - Hellman key</a></p>