@{
    ViewData["Title"] = "Sign Tool";
}

<p><a href="createcert">Create self-signed certificate</a></p>
<p><a href="createguid">Create GUID</a></p>
<p><a href="filehash">Calculate file hash</a></p>
<p><a href="signapp">Sign application (exe, dll, msi, appx)</a></p>
<p><a href="convert">Convert certificate</a></p>
<p><a href="dh">Generate EC Diffie - Hellman key</a></p>
<p><a href="rsaencrypt">RSA: encrypt file</a></p>
<p><a href="rsadecrypt">RSA: decrypt file</a></p>
<p><a href="aesencrypt">AES: encrypt file</a></p>
<p><a href="aesdecrypt">AES: decrypt file</a></p>
<p><a href="signfile">Sign file (CMS / PKCS#7)</a></p>