@model RSAEncryptModel;

@{
    ViewData["Title"] = "Sign Tool";
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <p>
        @Html.LabelFor(m => m.upFile, "File to encrypt")
        <input type="file" name="upFile">
        </p>
        <p>
            @Html.LabelFor(m => m.Cert, "Certificate")
            <input type="file" name="Cert">
        </p>
    <p>
        @Html.LabelFor(m => m.Method, "Hash algorithm")
        @Html.DropDownListFor(m => m.Method, new List<SelectListItem> { new SelectListItem{ Text = "SHA256", Selected = true}, new SelectListItem{ Text = "SHA384"}, new SelectListItem{ Text = "SHA512"} })
    </p>
    <p>
        <input type="submit" value="Encrypt" />
    </p>
    </div>
}