<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="Sign Tool" Version="1.0.0.0" Manufacturer="Andrey Kachamkin" UpgradeCode="B475FD93-8BB4-44E5-9FBF-9AF8B697E223">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLargeLicense">
			<bal:WixStandardBootstrapperApplication LicenseUrl=""/>
		</BootstrapperApplicationRef>
		<Chain>
			<PackageGroupRef Id="Net6"/>
			<MsiPackage SourceFile="C:\Users\kacha\source\repos\SignTool\WixSetup\bin\Release\SignToolSetup.msi" DisplayInternalUI="yes" />
		</Chain>
	</Bundle>
	
	<Fragment>
		<PackageGroup Id="Net6">
			<ExePackage InstallCommand="/q" DetectCondition="Installed" Name="dotnet-sdk-6.0.300-win-x64.exe" Compressed="no" DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/deb4711b-7bbc-4afa-8884-9f2b964797f2/fb603c451b2a6e0a2cb5372d33ed68b9/dotnet-sdk-6.0.300-win-x64.exe" Id="Net6Setup">
				<RemotePayload Version="6.0.3.0" Size="206766136" Hash="A09E2C284E5C863E5962F992106D6A1E0589B7ED" ProductName="Runtime components"  Description="Runtime components"/>	
			</ExePackage>
		</PackageGroup>
	</Fragment>
	
</Wix>